@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.pagination li {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination li:hover {
  background-color: gray;
  color: white;
}

.pagination li a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}
